{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block main %}
<div class="map">
    <div id="map" style="height: 600px; width: 80%; margin: 0 auto;"></div>

    {% if lat is not none and long is not none and driver is not none and res is not none %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var lat = {{ lat | default(0) }};
            var long = {{ long | default(0) }};
            var driver = {{ driver | default(0) }};
            var destination = [26.2019351, 91.8615084];
            var res = {{ res | tojson | safe }};
            
            var map = L.map('map').setView([lat, long], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            if (driver == 0) {
                var nearestLat = lat, nearestLong = long, minDistance = Infinity;

                res.forEach(function(point) {
                    var name = point[0], pointLat = point[1], pointLong = point[2];
                    var distance = Math.pow(lat - pointLat, 2) + Math.pow(long - pointLong, 2);

                    if (distance < minDistance) {
                        minDistance = distance;
                        nearestLat = pointLat;
                        nearestLong = pointLong;
                    }

                    L.marker([pointLat, pointLong]).addTo(map)
                        .bindPopup(name);
                });

                L.marker(destination).addTo(map).bindPopup('ADTU');
                L.marker([lat, long]).addTo(map).bindPopup('Stoppage');

                var latlngs1 = [[lat, long], [nearestLat, nearestLong]];
                var latlngs2 = [[nearestLat, nearestLong], destination];

                L.polyline(latlngs1, { color: 'red' }).addTo(map);
                L.polyline(latlngs2, { color: 'green' }).addTo(map);
                map.fitBounds(L.polyline(latlngs1.concat(latlngs2), { color: 'transparent' }).getBounds());
            } else if (driver == 1) {
                L.marker(destination).addTo(map).bindPopup('ADTU');
                L.marker([lat, long]).addTo(map).bindPopup('BUS');

                var latlngs = [[lat, long], destination];
                L.polyline(latlngs, { color: 'red' }).addTo(map);
                map.fitBounds(L.polyline(latlngs, { color: 'transparent' }).getBounds());
            }
        });
    </script>
    {% else %}
    <p>Required data is not available.</p>
    {% endif %}
</div>
{% endblock %}
