{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="log">
    <h1 class="left-align">LOGIN</h1>
    <hr>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="w3-input w3-border w3-animate-input" style="width:50%;" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="w3-input w3-border w3-animate-input" style="width:50%;" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary left-align" type="submit">Log In</button>
    </form>
    <p class="left-align" style="color: #ff0000;">Register if you are new.</p>
</div>

<script>
    // Function to get the user's location
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    // Function to send the user's location to Flask backend
    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        // Send latitude and longitude to Flask backend via AJAX
        fetch('/update_location', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                latitude: latitude,
                longitude: longitude
            })
        });
    }

    // Call getLocation() when the page is loaded
    window.onload = getLocation;
</script>

{% endblock %}