{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>REGISTER AS A STUDENT</h1>
    <form action="/register_student" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="roll" name="roll" placeholder="Roll No." type="number">
        </div>
        <div class="mb-3">
            <label for="busStopSelect" class="form-label">Choose Bus Stop:</label>
            <select class="form-select" id="busStopSelect" name="busStop">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" id="loginButton">Log In</button>
    </form>

    <script>
        // Get the button element
        var loginButton = document.getElementById("loginButton");
    
        // Add event listener to the button
        loginButton.addEventListener("click", function(event) {
            // Prevent the default form submission behavior
            // event.preventDefault();
    
            // Show the alert
            alert("Account Created Successfully, LOGIN to access dashboard");
            
            // Submit the form after showing the alert if needed
            // You can uncomment the line below if you want to submit the form after showing the alert
            // event.target.form.submit();
        });
    </script>
{% endblock %}